$button-background-color: #f4f4f4 !default;
$button-border-radius: 24rpx !default;
$button-height: 92rpx !default;

$button-middle-border-radius: 16rpx !default;
$button-middle-height: 68rpx !default;

$button-small-border-radius: 16rpx !default;
$button-small-height: 56rpx !default;

$button-slot-margin-left: 6rpx !default;